@media screen and (max-width:1200px) {
    .login-reg{
        width: 50%!important;
    }
}
@media screen and (max-width:768px) {
    .login-reg{
        width: 70%!important;
    }
}
@media screen and (max-width:592px) {
    .login-reg{
        width: 90%!important;
    }
}